* {
        margin: 0px;
        padding: 0px;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }


@charset "UTF-8";
/* CSS Document */
@font-face{
	font-family:miFuente1;
	src:url(../fonts/YoungBeautiful.ttf);
}
.contenedor{
	background:#ffbe00;
}

.imagen{
    margin-bottom: -5px;

	width:100%;
	height:auto;
}

.boton{
	position:absolute;
	  margin-top: -25%;
	  left: 11%;
	  width:30%;
	  height:auto;
}

.formA{
	width:30%;
}

.formB{
	width:10%;
	margin-right:100px;
	float:right;
}

